body {
  font-family: Arial, sans-serif;
  background-color: #e0f2ff;
  color: #333;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
  text-align: center;
}

label,
input,
select,
button {
  margin: 0.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.Calendar {
  margin: 0 auto;
  max-width: 800px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 0.25rem;
}

.app-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}
.note{
  color: red;
}

.prayer-time-list {
  margin-top: 20px;
}

.prayer-time-list ul {
  list-style-type: none;
  padding: 0;
}

.prayer-time-list li {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}

.prayer-time-list li button {
  float: right;
  margin-left: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  transition: background-color 0.3s;
}

.prayer-time-list li button:hover {
  background-color: blue;
}
